@import url('izitoast/dist/css/iziToast.min.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');

@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./form.css');
@import url('./loader.css');
@import url('./gallery.css');
